@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
   --primary: theme("colors.black");
   --primary-focus: theme("colors.gray.800");

   --secondary: theme("colors.gray.300");

   --accent: theme("colors.fuchsia.700");
}

[data-theme="gruvbox"] {
   --primary: #3c3d3e;

   --secondary: "colors.gray.300";

   --accent: #cc4f22;
}

[data-theme="pink"] {
   --primary: #402f4b;
   --primary-focus: #1a1320;

   --secondary: #dfbbf7;

   --accent: #f986c2;
}
