@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --primary: #237748;
   --primary-focus: #f986c2;

   --secondary: #f986c2;

   --accent: #f986c2;
}

[data-theme="dark"] {
   --primary: #402f4b;
   --primary-focus: #1a1320;

   --secondary: #dfbbf7;
   --accent: #eca2a2;

   --text-ms: #a3a3a3;
   --background: #262d3e;
   --nav-link: #1a144c;
   --desc: #16045c;
   --content: #130941;
   --button: #060438;
   --sidebar: #100435;
   --button-highlight: #13053a;
}

[data-theme="sky"] {
   --primary: #402f4b;
   --primary-focus: #1a1320;

   --secondary: #9ad4d1;
   --accent: #eca2a2;

   --text-ms: #f2f2f2;
   --background: #9ad4d1;
   --nav-link: #39c4d4;
   --desc: #20a3ac;
   --content: #0b87ad;
   --button: #115783;
   --sidebar: #083d56;
   --button-highlight: #002a3f;
}

[data-theme="strawberry"] {
   --primary: #402f4b;
   --primary-focus: #1a1320;

   --secondary: #dfbbf7;
   --accent: #eca2a2;

   --text-ms: #f2f2f2;
   --background: #f47676;
   --nav-link: #ff1919;
   --desc: #e42121;
   --content: #e72121;
   --button: #b80707;
   --sidebar: #8b0909;
   --button-highlight: #640000;
}

[data-theme="forrest"] {
   --primary: #402f4b;
   --primary-focus: #1a1320;

   --secondary: #dfbbf7;
   --accent: #eca2a2;

   --text-ms: #f2f2f2;
   --background: #f47676;
   --nav-link: #ff1919;
   --desc: #e42121;
   --content: #e72121;
   --button: #b80707;
   --sidebar: #8b0909;
   --button-highlight: #640000;
}

[data-theme="normal"] {
   --primary: #402f4b;
   --primary-focus: #1a1320;

   --secondary: #dfbbf7;
   --accent: #eca2a2;

   --text-ms: #f2f2f2;
   --background: #f47676;
   --nav-link: #ff1919;
   --desc: #e42121;
   --content: #e72121;
   --button: #b80707;
   --sidebar: #8b0909;
   --button-highlight: #640000;
}
